<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    aletheia: "#6B91A9"
                }
            }
        }
    };
</script>

<body>
<header>
<nav class="bg-aletheia p-4 text-white">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-2xl font-bold">Aletheia</a>
        <ul class="flex space-x-4">
            <li><a th:href="@{/patients/list}" class="hover:underline">Pacientes</a></li>
            <li><a th:href="@{/consultas}" class="hover:underline">Consultas</a></li>
            <li><a th:href="@{/medicos}" class="hover:underline">Médicos</a></li>
            <li><a th:href="@{/logout}" class="hover:underline">Sair</a></li>
        </ul>
    </div>
</nav>
</header>
</body>
</html>
