<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{home.title}">Home - Aletheia</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        aletheia: "#6B91A9"
                    }
                }
            }
        };
    </script>
</head>
<body class="bg-gray-100">

<div th:insert="~{fragments/header :: header}">
    HEADER
</div>

<div class="container mx-auto text-center mt-20">
    <!-- Usando sec:authentication para exibir o nome do usuário diretamente -->
    <h1 class="text-4xl font-bold text-gray-800">
        <span th:text="#{home.welcome}">Bem-vindo ao Aletheia,</span> <span sec:authentication="principal.name"></span>!
    </h1>

    <p sec:authorize="hasRole('ADMIN')" class="text-lg text-gray-600 mt-2" th:text="#{home.adminText}">Gerencie
        pacientes e dentistas de forma simples e eficiente.</p>
    <p sec:authorize="hasRole('PATIENT')" class="text-lg text-gray-600 mt-2" th:text="#{home.patientText}">Marque suas
        consultas de forma simples e eficiente.</p>
    <p sec:authorize="hasRole('DENTIST')" class="text-lg text-gray-600 mt-2" th:text="#{home.dentistText}">Confira as
        suas consultas agendadas.</p>

    <div class="mt-6 space-x-4">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/patients/list}" th:text="#{button.managePatients}"
           class="px-6 py-3 bg-aletheia text-white rounded-lg shadow-md hover:bg-opacity-80">Gerenciar Pacientes</a>
        <a sec:authorize="hasRole('ADMIN') or hasRole('PATIENT') or hasRole('DENTIST')" th:href="@{/consultations}"
           th:text="#{button.manageConsultations}"
           class="px-6 py-3 bg-aletheia text-white rounded-lg shadow-md hover:bg-opacity-80">Gerenciar suas
            consultas</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/dentists/list}" th:text="#{button.manageDentists}"
           class="px-6 py-3 bg-aletheia text-white rounded-lg shadow-md hover:bg-opacity-80">Gerenciar Dentistas</a>
    </div>
</div>
<footer class="text-gray-600 fixed bottom-0 left-0 w-full">
    <div class="flex justify-center items-center mt-3 mb-3">
        <a href="?lang=pt" class="flex items-center mx-2 p-2 rounded-full bg-white shadow-md hover:bg-gray-100">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="Português" class="mr-2 w-5 h-3">
            Português
        </a>
        <a href="?lang=en" class="flex items-center mx-2 p-2 rounded-full bg-white shadow-md hover:bg-gray-100">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg" alt="English" class="mr-2 w-5 h-3">
            English
        </a>
    </div>
</footer>

</body>
</html>
