<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Aletheia</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        aletheia: "#6B91A9"
                    }
                }
            }
        };
    </script>
</head>
<body class="bg-gray-100">

<div th:insert="~{fragments/header :: header}">
    HEADER
</div>

<div class="container mx-auto text-center mt-20">
    <h1 class="text-4xl font-bold text-gray-800">Bem-vindo ao Aletheia, <span sec:authentication="principal.name"></span>!</h1>
    <p sec:authorize="hasRole('ADMIN')" class="text-lg text-gray-600 mt-2">Gerencie pacientes e dentistas de forma simples e eficiente.</p>
    <p sec:authorize="hasRole('PATIENT')" class="text-lg text-gray-600 mt-2">Marque suas consultas de forma simples e eficiente.</p>
    <p sec:authorize="hasRole('DENTIST')" class="text-lg text-gray-600 mt-2">Confira as suas consultas agendadas.</p>
    <div class="mt-6 space-x-4">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/patients/list}" class="px-6 py-3 bg-aletheia text-white rounded-lg shadow-md hover:bg-opacity-80">Gerenciar Pacientes</a>
        <a sec:authorize="hasRole('ADMIN') or hasRole('PATIENT') or hasRole('DENTIST')" th:href="@{/consultations}" class="px-6 py-3 bg-aletheia text-white rounded-lg shadow-md hover:bg-opacity-80">Gerenciar suas consultas</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/dentists/list}" class="px-6 py-3 bg-aletheia text-white rounded-lg shadow-md hover:bg-opacity-80">Gerenciar Dentistas</a>
    </div>
</div>

</body>
</html>
